@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="help-block"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-center">
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        @Html.ActionLink("Catálogo", "Index", "Catalogue", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4">

    </div>
</div>